tls {
	get_certificate tailscale
}

redir /transmission /transmission/web/
handle /transmission* {
	reverse_proxy 127.0.0.1:9091 {
		header_up Host {host}
	}
}

handle_path /prowlarr* {
	reverse_proxy 127.0.0.1:9696
}

handle_path /radarr* {
	reverse_proxy 127.0.0.1:7878 {
		header_up Host {host}
		header_up X-Real-IP {remote}
		header_up X-Forwarded-For {remote}
		header_up X-Forwarded-Proto {scheme}
	}
}

redir /sonarr /sonarr/
handle_path /sonarr* {
	reverse_proxy 127.0.0.1:8989
}

redir /jellyfin /jellyfin/
handle_path /jellyfin* {
	reverse_proxy 127.0.0.1:8096
}

redir /jellyseerr /jellyseerr/
handle_path /jellyseerr* {
	reverse_proxy 127.0.0.1:5055
}
